### 1. 强制单机型
CONFIG_TARGET_MULTI_PROFILE=n
CONFIG_TARGET_ALL_PROFILES=n

### 2. 指定 BeeconMini SEED AC3
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7986=y
CONFIG_TARGET_mediatek_mt7986_DEVICE_beeconmini_seed-ac3=y   # 关键行

# ---- 开启 PoE ----
CONFIG_PACKAGE_kmod-poe=y
CONFIG_PACKAGE_poe-cli=y
CONFIG_PACKAGE_luci-app-poe=y

# ---- 开启 AdGuard Home ----
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_luci-app-adguardhome=y

# ---- 关闭 Docker / Container / HA ----
CONFIG_PACKAGE_luci-app-dockerman=n
CONFIG_PACKAGE_docker=y
CONFIG_PACKAGE_homeassistant=y
